.navigation-link {
  font-weight: 500;
  color: #2e2f42;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.contacts-link {
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
